@charset "UTD-8";

:root {
    --cor1:#07563c;
    --cor2:#5ba270;
    --cor3:#9cc9af;
    --cor4:#000000;
    --cor5:#ffffff;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: var(--cor1);
}

#login-box {
    background-color: var(--cor5);
    width: 300px;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
    overflow: hidden;
}

#imagem {
    height: 200px;
    background: url(../imagens/planta.jpg) var(--cor1) no-repeat center center;
    background-size: cover;
    
}

#formulario {
    height: 340px;
}

#formulario > h1 {
    text-align: center;
    padding: 10px;
}

#formulario > p {
    padding: 0px 10px 10px 10px;
}

form > div > span {
 color: var(--cor5);
}

.login-area {
    background-color: var(--cor1);
    width: 80%;
    margin: auto;
}

label {
    display: none;
}

#formulario > form > div > span {
    background-color: var(--cor1);
    padding: 3px;
    margin-left: 10px;
}

.login-area {
    height: 50px;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
}

input {
    height: 30px;
}


.botao {
    display: block;
    width: 90%;
    margin: 5px auto;
    height: 40px;
    color: white;
    background-color: var(--cor1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}


.botao:hover {
    background-color: var(--cor2);
}